/* Import from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Styles for body */

body {
    font-family: Hind, sans-serif;
    font-weight: 500;
    background-color: rgb(247, 242, 199);
    color: rgb(19, 24, 23);
}

/* Styles for h1, h2 and h3 headings */

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

#what-we-do h2, #testimonials h2, #gallery h2, #contact h2 {
    text-align: center;
    padding: 30px;
}

h3 {
    text-align: center;
    padding: 20px 5px;
}

/* Styles for header */

header {
    width: 100%;
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgb(202, 197, 157);
}

header > a {
    text-decoration: none;
    color: inherit;
    float: left;
    margin-left: 20px;
}

header > a:hover {
    background-color: darkseagreen;
    color: white;
    border-radius: 10px;
}

header h2 {
    font-size: 17px;
    letter-spacing: 3px;
    padding: 3px;
}

nav {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    padding: 3px 7px;
    letter-spacing: 3px;
}

nav a:hover {
    background-color: darkseagreen;
    color: white;
    border-radius: 10px;
}

/* Styles for hero image */

#hero {
    height: 600px;
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
}

#hero-image {
    background: url('../images/pexels-max-vakhtbovych-7587877-small.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Styles for main title */

#main-heading {
    background-color: burlywood;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 10%;
    text-align: center;
}

#main-heading h1 {
    font-size: 35px;
}

#main-heading h2 {
    font-size: 15px;
}

/* Styles for tag line on hero image */

#hero-image p {
    background-color: burlywood;
    width: 5%;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 120px;
    left: 10px;
    font-size: 20px;
    text-align: left;
}

/*Styles for what we do section */

.services {
    display: flex;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.services div {
    width: 200px;
    height: 450px;
    padding: 10px;
    border-radius: 20px;
    text-align: justify;
}

.garden-color {
    background-color: rgb(171, 201, 119);
}

.assembly-color {
    background-color: rgb(166, 196, 196);
}

.washing-color {
    background-color: rgb(148, 247, 247);
}

.interior-color {
    background-color: rgb(245, 201, 201);
}

/* Styles for testimonials */

.card-holder {
    display: flex;
    height: 1200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-holder > div {
    width: 200px;
    height: 270px;
    border-radius: 20px;
    text-align: justify;
}

/* Add shadows to create the "card" effect for testimonials - credit to w3schools.com */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.quote {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.name {
    text-align: center;
    font-weight: 500;
    padding: 2px 10px;
}

.from {
    text-align: right;
    font-weight: 500;
    padding: 2px 10px;
}

/* Styles gallery photos */

.flex-container-gallery {
    display: flex;
    height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-container-gallery > div {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: rgb(126, 188, 190);
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Styles contact us section */

.flex-container-contact {
    display: flex;
    height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-container-contact > div {
    width: 200px;
    height: 200px;
    padding: 10px;
}

#contact-form {
    width: 200px;
    height: 500px;
    background-color: rgb(212, 136, 136);
}

.flex-container-contact p {
    text-align: center;
}

.contact-large {
    font-size: larger;
    padding: 10px;
}

/* For Screens 700px wide and down */

@media screen and (max-width: 700px) {

    header {
        padding: 3px 0;
    }

    nav {
        clear: left;
        float: none;
    }

    header h2 {
        font-size: 14px;
        padding: 1px;
    }

    nav a {
        font-size: 12px;
        padding: 1px 7px;
    }

    #main-heading {
        width: 30%;
        position: absolute;
        top: 20px;
        left: 5px;
        text-align: left;
    }
    
    #main-heading h1 {
        font-size: 25px;
    }
    
    #main-heading h2 {
        font-size: 10px;
    }

    #hero-image p {
        font-size: 15px;
        bottom: 150px;
    }
}

/* For Screens 570px wide and down */

@media screen and (max-width: 570px) {

    #main-heading {
        width: 30%;
        position: absolute;
        top: 20px;
        left: 5px;
        text-align: left;
    }
    
    #main-heading h1 {
        font-size: 20px;
    }
    
    #main-heading h2 {
        font-size: 10px;
    }

    #hero-image p {
        font-size: 12px;
    }
}

/* For Screens 400px wide and down */

@media screen and (max-width: 400px) {

    header {
        padding: 3px 0;
    }

header > a {
    margin-left: 5px;
}

header h2 {
    font-size: 12px;
    margin-top: 3px;
}

nav {
    float: right;
    clear: none;
    margin-right: 5px;
}

nav a {
    font-size: 10px;
    padding: 1px 3px;
    letter-spacing: 1px;
}

    #main-heading {
        width: 60%;
        position: absolute;
        top: 10px;
        left: 15%;
        text-align: center;
    }

    #hero-image p {
        width: 75px;
        padding: 10px;
        position: absolute;
        bottom: 350px;
        left: 10px;
        text-align: center;
    }
    #hero {
        margin-top: 32px;
    }
}

/* For Screens 340px wide and down */

@media screen and (max-width: 340px) {

    header span{
        display: none;
    }

    header h2 {
        letter-spacing: 0px;
    }
}

/* For Screens 500px wide and up */

@media screen and (min-width: 500px) {
    
    .card-holder {
        height: 600px;
        flex-wrap: wrap;
    }
}

/* For Screens 570px wide and up */

@media screen and (min-width: 570px) {

    .services {
        height: 450px;
        width: 100%;
        flex-direction: row;
    }

    .services div {
        width: 230px;
        height: 390px;
    }

    .flex-container-contact {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

/* For Screens 700px wide and up */

@media screen and (min-width: 700px) {

    .services {
        height: 390px;
        width: 100%;
    }

    .services div {
        width: 295px;
        height: 330px;
    }

    .flex-container-gallery {
        display: flex;
        height: 250px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    }

    /* For Screens 850px wide and up */

@media screen and (min-width: 850px) {

    .card-holder {
        height: 300px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

    /* For Screens 950px wide and up */

@media screen and (min-width: 950px) {

    .services {
        height: 320px;
        width: 100%;
    }

    .services div {
        width: 370px;
        height: 260px;
    }
}

