/* Import from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Styles for body */

body {
    font-family: Hind, sans-serif;
    font-weight: 400;
}

/* Styles for h1 and h2 headings */

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

/* Styles for header */

header {
    width: 100%;
    padding: 5px 0;
}

header > a {
    text-decoration: none;
    color: inherit;
    float: left;
    margin-left: 20px;
}

header > a:hover {
    text-decoration: none;
    float: left;
    background-color: darkseagreen;
    color: white;
    border-radius: 10px;
}

header h2 {
    font-size: 17px;
    letter-spacing: 3px;
    padding: 3px;
}

nav {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    padding: 3px 7px;
    letter-spacing: 3px;
}

nav a:hover {
    font-size: 15px;
    text-decoration: none;
    background-color: darkseagreen;
    color: white;
    padding: 3px;
    letter-spacing: 3px;
    border-radius: 10px;
}

/* Styles for hero image */

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/pexels-max-vakhtbovych-7587877-small.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Styles for main title */

#main-heading {
    background-color: burlywood;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 10%;
    text-align: center;
}

#main-heading h1 {
    font-size: 35px;
}

#main-heading h2 {
    font-size: 15px;
}

/* Styles for tag line on hero image */

#hero-image p {
    background-color: burlywood;
    width: 5%;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 120px;
    left: 10px;
    font-size: 20px;
    text-align: left;
}

/*Styles for what we do section */

.flex-container {
    display: flex;
}

/* For Screens 700px wide and down */

@media screen and (max-width: 700px) {

    nav {
        clear: left;
        float: none;
    }

    #main-heading {
        width: 30%;
        position: absolute;
        top: 20px;
        left: 5px;
        text-align: left;
    }
    
    #main-heading h1 {
        font-size: 25px;
    }
    
    #main-heading h2 {
        font-size: 10px;
    }

    #hero-image p {
        font-size: 15px;
        bottom: 150px;
    }
}

/* For Screens 570px wide and down */

@media screen and (max-width: 570px) {

    nav {
        clear: left;
        float: none;
    }

    header h2 {
        font-size: 14px;
    }

    nav a {
        font-size: 12px;
    }

    #main-heading {
        width: 30%;
        position: absolute;
        top: 20px;
        left: 5px;
        text-align: left;
    }
    
    #main-heading h1 {
        font-size: 20px;
    }
    
    #main-heading h2 {
        font-size: 10px;
    }

    #hero-image p {
        font-size: 12px;
    }

}

/* For Screens 400px wide and down */

@media screen and (max-width: 400px) {

    #main-heading {
        width: 60%;
        position: absolute;
        top: 10px;
        left: 15%;
        text-align: center;
    }

    #hero-image p {
        width: 75px;
        padding: 10px;
        position: absolute;
        bottom: 350px;
        left: 10px;
        text-align: center;
    }
}
