/* Import from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style body */

body {
    font-family: Hind, sans-serif;
    font-weight: 400;
}

/* Style h1 and h2 headings */

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

/* Style header */

header {
    width: 100%;
    padding: 5px 0;
}

header > a {
    text-decoration: none;
    color: inherit;
    float: left;
    margin-left: 20px;
}

header > a:hover {
    text-decoration: none;
    float: left;
    background-color: darkseagreen;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}

header h2 {
    font-size: 25px;
    letter-spacing: 3px;
    padding: 5px;
}

nav {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    padding: 3px 5px;
    letter-spacing: 3px;
}

nav a:hover {
    font-size: 20px;
    text-decoration: none;
    background-color: darkseagreen;
    color: white;
    padding: 3px;
    letter-spacing: 3px;
    border-radius: 10px;
    border: 1px solid black;
}

/* Hero Image section styling*/

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/pexels-max-vakhtbovych-7587877-small.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}





/* Navigation Bar Responsiveness */

/* For Screens 800px wide and down */

@media screen and (max-width: 800px) {

    nav {
        clear: left;
        float: none;
    }

}
